.about {
  text-align: start;
  padding-bottom: 46px;

  @media (#{$screen-tablet}) {
    padding-bottom: 0;
    margin-bottom: 9px;
  }

  @media (#{$screen-desktop}) {
    margin-bottom: 0;
  }
}

.about__title {
  @include font (36px, 40px);
  margin: 0;
  font-family: $special-text;
  font-weight: normal;
  margin-bottom: 40px;

  @media (#{$screen-tablet}) {
    @include font (60px, 60px);
    margin-bottom: 32px;
  }
}

.about__list {
  @include list-reset;
  counter-reset: about;
  font-family: $basic-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  display: block;
  min-width: 279px;

  @media (#{$screen-tablet}) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (#{$screen-desktop}) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  display: block;
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  min-height: 54px;

  @media (#{$screen-tablet}) {
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 0 35px;
    padding: 188px 0 57px;
    flex-basis: 46%;
  }

  @media (#{$screen-desktop}) {
    flex-basis: 20%;
    margin-right: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include font (280px, 280px);
    font-family: $special-text;
    color: $basic-gray;
    display: block;
    position: absolute;
    top: 0;
    left: 119px;

    @media (#{$screen-tablet}) {
      counter-increment: about;
      content: counter(about);
    }
  }

  &::after {
    content: "";
    background-color: $basic-green;
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;

    @media (#{$screen-tablet}) {
      top: 40px;
      width: 82px;
      height: 80px;
    }
  }

  &--leaf {
    &::after {
      background-image: url("/img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-position-x: 7px;
      background-position-y: 5px;
      background-size: 49px 49px;

      @media (#{$screen-tablet}) {
        background-position-x: 15px;
        background-position-y: 15px;
      }

      @media (#{$screen-retina}) {
        background-image: url("/img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::after {
      background-image: url("/img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-position-x: 6px;
      background-position-y: 4px;
      background-size: 49px 50px;

      @media (#{$screen-tablet}) {
        background-position-x: 17px;
        background-position-y: 15px;
      }

      @media (#{$screen-retina}) {
        background-image: url("/img/advantage-powder@2x.png");
      }
    }
  }

  &--dining {
    &::after {
      background-image: url("/img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-position-x: 8px;
      background-position-y: 4px;
      background-size: 40px 50px;

      @media (#{$screen-tablet}) {
        background-position-x: 20px;
        background-position-y: 15px;
      }

      @media (#{$screen-retina}) {
        background-image: url("/img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    &::after {
      background-image: url("/img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y: 4px;
      background-size: 50px 50px;

      @media (#{$screen-tablet}) {
        background-position-x: 17px;
        background-position-y: 14px;
      }

      @media (#{$screen-retina}) {
        background-image: url("/img/advantage-clock@2x.png");
      }
    }
  }
}

.about__item-wrapper {
  display: block;
  position: relative;
  color: $special-dark-gray;

  @media (#{$screen-tablet}) {
    @include font(16px, 24px);
  }

  &--leaf {
    @media (#{$screen-tablet}) {
      width: 201px;
      margin-top: -35px;
    }

    @media (#{$screen-desktop}) {
      width: 230px;
    }
  }

  &--powder {
    @media (#{$screen-tablet}) {
      width: 227px;
      margin-top: -35px;
    }

    @media (#{$screen-desktop}) {
      width: 246px;
    }
  }

  &--dining {
    @media (#{$screen-tablet}) {
      width: 209px;
      margin-top: -35px;
    }

    @media (#{$screen-desktop}) {
      width: 248px;
      margin-left: 2px;
    }
  }

  &--clock {
    @media (#{$screen-tablet}) {
      width: 245px;
      margin-top: -35px;
    }

    @media (#{$screen-desktop}) {
      width: 250px;
      margin-left: -4px;
    }
  }
}
