.additional__title {
  margin: 0;
  font-weight: normal;
  font-family: $special-text;
  font-size: 24px;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 35px;

  @media (#{$screen-tablet}) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 81px;
  }
}

.additional__inner {
  @media (#{$screen-desktop}) {
    display: flex;
  }
}

.additional__list {
  @include list-reset;

  @media (#{$screen-desktop}) {
    width: 896px;
  }
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  width: 100%;
  border-top: 1px solid $basic-gray;

  &:last-child {
    border-bottom: 1px solid $basic-gray;
  }

  @media (#{$screen-tablet}) {
    padding: 27px 37px;
    border: 1px solid $basic-gray;
    border-bottom: none;
  }

  @media (#{$screen-desktop}) {
    align-items: center;
    padding: 15px 0 16px;
    display: flex;
    border: none;
    border-top: 1px solid $basic-gray;

    &:last-child {
      border-bottom: 1px solid $basic-gray;
    }
  }
}

.additional__content {
  margin-bottom: -2px;

  @media (#{$screen-tablet}) {
    display: flex;
    width: 100%;
    margin-bottom: 9px;
  }

  @media (#{$screen-desktop}) {
    margin: 0;
  }
}

.additional__subtitle {
  @include font (16px, 16px);
  margin: 0;
  font-weight: normal;
  flex-basis: 50%;
  font-family: $special-text;
  text-transform: uppercase;
  padding-bottom: 13px;

  @media (#{$screen-tablet}) {
    @include font (20px, 20px);
    margin-right: 161px;
  }

  @media (#{$screen-desktop}) {
    margin: 0;
    margin-right: 37px;
    padding: 0;
  }
}

.additional__text {
  @include list-reset;
  @include font (14px, 14px);
  font-family: $basic-text;
  color: $special-dark-gray;
  display: flex;
  flex-basis: 50%;
  padding-bottom: 15px;

  @media (#{$screen-tablet}) {
    @include font (16px, 20px);
    display: flex;
  }

  @media (#{$screen-desktop}) {
    padding: 0;
    flex-shrink: 1;
  }
}

.additional__term {
  flex-basis: 60%;

  @media (#{$screen-tablet}) {
    text-align: end;
  }

  @media (#{$screen-desktop}) {
    text-align: start;
    padding-top: 5px;
  }
}

.additional__desc {
  @include list-reset;
  flex-basis: 40%;
  text-align: end;

  @media (#{$screen-desktop}) {
    padding-top: 5px;
  }
}

.additional__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;

  @media (#{$screen-desktop}) {
    flex-basis: 36%;
    margin-left: 38px;
  }
}
