.additional__title {
  margin: 0;
font-weight: normal;
  font-family: $special-text;
  font-size: 24px;
  line-height: 24px;
}

.additional__list {
  @include list-reset;
}

.additional__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 19px;
  width: 100%;
  min-height: 130px;
  border-top: 1px solid $basic-gray;

  &:last-child {
    border-bottom: 1px solid $basic-gray;
  }
}

.additional__content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.additional__subtitle {
  margin: 0;
font-weight: normal;
  flex-basis: 100%;
  font-family: $special-text;
  font-size: 16px;
  line-height: 16px;
}

.additional__text {
  display: flex;
  flex-basis: 100%;
}

.additional__term {
  flex-basis: 50%;
}

.additional__desc {
  @include list-reset;
  flex-basis: 50%;
  text-align: end;
}

.additional__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
