.button {
  padding: 10px 40px;
  border: none;
  color: $basic-white;
  background-color: transparent;
  cursor: pointer;
  font-family: $special-text;
  @include font (16px, 18px);
  text-transform: uppercase;
  max-height: 40px;

  &--primary {
    background-color: $basic-green;
  }

  &--secondary {
    background-color: $basic-gray;
    color: $basic-black;
  }

  &--toggle {
    padding: 0;
  }
}
