.button {
  display: block;
  padding: 10px 40px;
  border: none;
  color: $basic-white;
  background-color: transparent;
  cursor: pointer;
  font-family: $special-text;
  @include font (16px, 18px);
  text-transform: uppercase;
  max-height: 40px;
  text-align: center;

  &--primary {
    background-color: $basic-green;
  }

  &--secondary {
    background-color: $basic-gray;
    color: $special-dark-gray;
  }

  &--toggle {
    padding: 0;

    @media (#{$screen-tablet}) {
      display: none;
    }
  }
}
