.card {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  border-top: 1px solid $basic-gray;
  padding-top: 19px;
  padding-bottom: 24px;

  @media (#{$screen-tablet}) {
    flex-direction: column;
    width: 324px;
    display: block;
    border: none;
    padding: 0;
    background-color: $basic-gray;

    &:last-child {
      background-color: transparent;
      border: 2px solid $basic-gray;
      padding: 0;
    }
  }

  @media (#{$screen-desktop}) {
    flex-direction: column;
    width: 245px;
    display: block;
    border: none;
    padding: 0;
    background-color: $basic-gray;

    &:last-child {
      background-color: transparent;
      border: 2px solid $basic-gray;
    }

    &--more {
      padding-top: 51px;
      padding-bottom: 40px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $basic-gray;
  }
}

.card__content {
  flex-basis: 50%;
  padding: 0 20px;

  @media (#{$screen-tablet}) {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
    padding: 0 36px;
  }

  @media (#{$screen-desktop}) {
    padding-left: 35px;
    padding-right: 30px;
  }

  &--more {
    flex-basis: 100%;
    text-align: center;

    @media (#{$screen-tablet}) {
      margin-bottom: 87px;
    }
  }
}

.card__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  @media (#{$screen-tablet}) {
    flex-direction: column;
    min-width: 168px;
    min-height: 200px;
    margin-top: -73px;
  }

  @media (#{$screen-desktop}) {
    min-width: 172px;
    min-height: 196px;
    margin-top: -80px;
    margin-bottom: 46px;
  }

  &--more {
    flex-basis: 100%;

    @media (#{$screen-tablet}) {
      width: 60px;
      height: 60px;
      min-height: 60px;
      margin: 0 auto;
      margin-top: 52px;
      margin-bottom: 49px;
    }
  }
}

.card__svg {
  width: 30px;
  fill: $special-gray-5;
  margin: 0 auto;

  @media (#{$screen-tablet}) {
    width: 60px;
  }
}

.card__title {
  margin: 0;
  font-weight: normal;
  font-family: $special-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 72px;

  @media (#{$screen-tablet}) {
    max-width: 110px;
    text-align: center;
    margin-bottom: 23px;
    @include font (20px, 22px);
  }

  &--more {
    position: relative;
    max-width: 100%;
    padding-top: 31px;

    @media (#{$screen-tablet}) {
      max-width: 134px;
      padding: 0;
    }
  }
}

.card__list {
  margin: 0;
  font-family: $basic-text;
  font-size: 12px;
  line-height: 16px;
  width: 100%;

  & .card__desc {
    @include list-reset;
  }
}

.card__text {
  font-family: $basic-text;
  @include font (12px, 16px);
  margin: 0;
  padding-top: 8px;

  @media (#{$screen-tablet}) {
    width: 167px;
    @include font (16px, 18px);
    padding: 0;
  }
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin: 0 20px;
  margin-top: 13px;

  @media (#{$screen-tablet}) {
    margin: 0 36px;
    margin-bottom: 40px;
  }

  @media (#{$screen-desktop}) {
    margin-left: 35px;
    margin-right: 30px;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (#{$screen-tablet}) {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid $basic-gray;
    font-size: 16px;
    line-height: 16px;
  }
}
