.card {
  height: 100%;
  border-top: 1px solid $basic-gray;

  &--more {
    border-bottom: 1px solid $basic-gray;
    order: 1;
  }

  @media (#{$screen-tablet}) {
    margin: 0;
    background-color: $basic-gray;
    border: none;

    &--more {
      border: 2px solid $basic-gray;
      background-color: transparent;
    }
  }

  @media (#{$screen-desktop}) {
    width: 245px;
    height: 431px;
  }
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 20px 26px;

  @media (#{$screen-tablet}) {
    min-width: 324px;
    display: block;
    margin: 0;
    padding: 0 36px 40px;
  }

  @media (#{$screen-desktop}) {
    min-width: 245px;
    padding: 0 35px 30px;
  }

  &--more {
    @media (#{$screen-tablet}) {
      padding-top: 9px;
    }

    @media (#{$screen-desktop}) {
      padding: 24px 33px 28px 40px;
      height: 100%;
    }
  }
}

.card__content {
  flex-basis: 50%;

  @media (#{$screen-tablet}) {
    margin-bottom: 33px;
  }

  &--more {
    flex-basis: 100%;
    text-align: center;

    @media (#{$screen-tablet}) {
      margin-bottom: 87px;
    }
  }
}

.card__image {
  flex-basis: 50%;
  height: 119px;
  margin-top: 5px;

  @media (#{$screen-tablet}) {
    margin: -73px auto 29px;
    width: 168px;
    height: 207px;
  }

  @media (#{$screen-desktop}) {
    margin: -80px auto 36px;
    width: 172px;
    height: 207px;
  }

  &--more {
    width: 30px;
    height: 30px;
    margin: 6px auto 24px;
    background-image: url("/img/icon-plus-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (#{$screen-tablet}) {
      width: 60px;
      height: 60px;
      margin: 42px auto 49px;
      background-image: url("/img/icon-plus.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (#{$screen-desktop}) {
      margin-top: 26px;
    }
  }
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
  color: $special-dark-gray-2;

  &--name {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: bottom;
}

.card__svg {
  width: 30px;
  fill: $special-gray-5;
  margin: 0 auto;

  @media (#{$screen-tablet}) {
    width: 60px;
  }
}

.card__title {
  margin: 0 0 15px;
  font-weight: normal;
  font-family: $special-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 72px;

  @media (#{$screen-tablet}) {
    @include font (20px, 22px);
    max-width: 130px;
    text-align: center;
    margin: 0 auto 15px;
    font-size: 20px;
  }

  &--more {
    position: relative;
    max-width: 100%;
    margin-bottom: 8px;

    @media (#{$screen-tablet}) {
      max-width: 134px;
      padding: 0;
      margin-bottom: 23px;
    }
  }
}

.card__list {
  margin: 0;
  font-family: $basic-text;
  font-size: 12px;
  line-height: 16px;
  width: 100%;

  & .card__desc {
    @include list-reset;
  }
}

.card__text {
  font-family: $basic-text;

  @include font (12px, 16px);
  margin: 0 auto 21px;

  @media (#{$screen-tablet}) {
    width: 167px;

    @include font (16px, 18px);
    padding: 0;
  }
}

.card__button {
  flex-basis: 100%;
  padding: 11px 40px 10px;
}

.card__item {
  display: flex;
  justify-content: space-between;
  color: $special-dark-gray;

  @media (#{$screen-tablet}) {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid $basic-gray-2;

    @include font (16px, 16px);
  }

  @media (#{$screen-desktop}) {
    padding: 8px 5px 7px 5px;
  }
}
