.catalog {
  margin-bottom: 28px;

  @media (#{$screen-tablet}) {
    margin-bottom: 68px;
  }

  @media (#{$screen-desktop}) {
    margin-bottom: 35px;
  }
}

.catalog__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  font-weight: normal;
  font-family: $special-text;
  font-size: 36px;
  line-height: 36px;

  @media (#{$screen-tablet}) {
    padding: 0;
    margin-bottom: 164px;
  }

  @media (#{$screen-desktop}) {
    padding: 0;
    margin-bottom: 165px;
  }
}

.catalog__cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (#{$screen-tablet}) {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 60px;
    grid-row-gap: 141px;
    justify-content: center;
  }

  @media (#{$screen-desktop}) {
    grid-template-columns: min-content min-content min-content min-content;
    grid-column-gap: 80px;
    grid-row-gap: 141px;
  }
}
