.catalog {
  padding-top: 27px;
}

.catalog__title {
  margin: 0;
  font-weight: normal;
  font-family: $special-text;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 41px;
}

.catalog__cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (#{$screen-tablet}) {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 60px;
    grid-row-gap: 141px;
    justify-content: center;
  }
}
