.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 49px;
  margin-bottom: 26px;

  &--index {
    padding-top: 25px;
  }

  &--catalog {
    padding-top: 26px;
    margin-bottom: 26px;
  }

  @media (#{$screen-tablet}) {
    align-items: end;
    padding: 64px 71px 57px;
    margin: 0 auto;
  }

  @media (#{$screen-desktop}) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 201px;
    padding: 62px 89px 51px 76px;
    background-color: $basic-white;
  }
}

.contacts__title {
  @include font (16px, 20px);
  margin: 0;
  font-weight: normal;
  font-family: $special-text;
  text-transform: uppercase;
  max-width: 142px;

  @media (#{$screen-tablet}) {
    @include font (20px, 26px);
    max-width: 171px;
  }
}

.contacts__text {
  @include font (14px, 20px);
  margin: 0;
  font-family: $basic-text;
  max-width: 140px;

  @media (#{$screen-tablet}) {
    @include font (16px, 20px);
    max-width: 159px;
    text-align: end;
  }

  @media (#{$screen-desktop}) {
    text-align: start;
    padding-left: 4px;
  }
}

.contacts__address {
  @media (#{$screen-tablet}) {
    display: block;
    max-width: 159px;
    padding-bottom: 20px;
  }
}
