.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (#{$screen-tablet}) {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (#{$screen-desktop}) {
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
  }
}
