.example {
  background-color: $special-gray-3;
  padding-top: 27px;
  padding-bottom: 28px;

  @media (#{$screen-tablet}) {
    padding-top: 43px;
    padding-bottom: 18px;
    border-top: 1px solid $special-gray-6;
    background: linear-gradient(to bottom, $basic-white 619px, $special-gray-3 619px);
  }

  @media (#{$screen-desktop}) {
    padding-top: 31px;
    padding-bottom: 0;
    margin-bottom: -48px;
    border: none;
    background:
      linear-gradient(to bottom, $basic-white 168px, transparent 168px),
      linear-gradient(to right, $basic-gray calc(50vw + 325px), $special-gray-3 calc(50vw + 325px));
  }
}

.example__content {
  display: flex;
  flex-wrap: wrap;
}

.example__title {
  flex-basis: 100%;
  margin: 0 auto;
  font-weight: normal;
  font-family: $special-text;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 33px;

  @media (#{$screen-tablet}) {
    @include font (60px, 60px);
    margin: 0 auto;
    margin-bottom: 63px;
  }

  @media (#{$screen-desktop}) {
    max-width: 768px;
    margin: 0 0 147px;
    flex-basis: 100%;
  }
}

.example__inner {
  margin-bottom: 42px;

  @media (#{$screen-tablet}) {
    margin-bottom: 80px;
  }

  @media (#{$screen-desktop}) {
    flex-basis: calc(50% - 40px);
    max-width: 570px;
    margin: 0;
  }
}

.example__text {
  @include font (14px, 18px);
  color: $special-dark-gray;
  margin: 0;
  font-style: $basic-text;
  margin-bottom: 25px;
  width: 95%;

  @media (#{$screen-tablet}) {
    @include font (16px, 24px);
    width: 100%;
    margin-bottom: 54px;
  }

  @media (#{$screen-desktop}) {
    width: 439px;
    margin-bottom: 69px;
  }
}

.example__slider {
  @media (#{$screen-desktop}) {
    flex-basis: calc(50% - 40px);
    max-width: 570px;
  }
}
