.footer {
  background-color: $basic-gray;

  @media (#{$screen-desktop}) {
    position: relative;
  }
}

.footer__inner {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;

  &--index {
    background: linear-gradient(to bottom, white 50%, transparent 50%);
  }
}

.footer__map {
  width: 100%;
  height: 362px;
  margin: 0 auto;
  background-image: url("/img/bg-map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (#{$screen-retina}) {
    background-image: url("/img/bg-map-mobile@2x.png");
  }

  @media (#{$screen-tablet}) {
    height: 400px;
    background-image: url("/img/bg-map-tablet@1x.png");

    @media (#{$screen-retina}) {
      background-image: url("/img/bg-map-tablet@2x.png");
    }
  }

  @media (#{$screen-desktop}) {
    background-image: url("/img/bg-map-desktop@1x.png");

    @media (#{$screen-retina}) {
      background-image: url("/img/bg-map-desktop@2x.png");
    }
  }
}

.footer__iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.footer__content {
  @media (#{$screen-tablet}) {
    display: flex;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  &--catalog {
    padding-bottom: 14px;

    @media (#{$screen-tablet}) {
      padding-top: 39px;
      padding-bottom: 51px;
    }

    @media (#{$screen-desktop}) {
      padding-top: 41px;
      padding-bottom: 50px;
    }
  }

  &--form {
    @media (#{$screen-desktop}) {
      padding-bottom: 47px;
    }
  }
}

.footer__logo {
  text-align: center;

  @media (#{$screen-tablet}) {
    padding-top: 15px;
    margin-right: 152px;
  }

  @media (#{$screen-desktop}) {
    margin-right: 408px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__socials {
  width: 100%;
  margin-bottom: 14px;

  @media (#{$screen-tablet}) {
    width: 130px;
    margin-right: 134px;
    padding-top: 10px;
  }

  @media (#{$screen-desktop}) {
    margin-right: 392px;
  }

  &--catalog {
    @media (#{$screen-tablet}) {
      padding-top: 19px;
    }
  }
}

.footer__developed {
  width: 100%;

  @media (#{$screen-tablet}) {
    width: 163px;
  }
}

.footer__link {
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0 14px;
  font-family: $basic-text;
  font-size: 16px;
  color: $special-dark-gray;

  &--catalog {
    padding: 0;

    @media (#{$screen-tablet}) {
      padding-top: 5px;
    }
  }

  @media (#{$screen-tablet}) {
    width: 163px;
  }

  &:hover .footer__svg,
  &:focus .footer__svg {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (#{$screen-desktop}) {
    padding: 10px 0 0 0;
  }
}

.footer__svg {
  width: 41px;
  height: 50px;
  fill: $special-gray-2;
  margin-left: auto;
  margin-right: -7px;
}
