.footer {
  background-color: $basic-gray;

  @media (#{$screen-desktop}) {
    position: relative;
  }
}

.footer__inner {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
}

.footer__map {
  width: 100%;
  height: 362px;
  margin: 0 auto;
  background-image: url("/img/bg-map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (#{$screen-retina}) {
    background-image: url("/img/bg-map-mobile@2x.png");
  }

  @media (#{$screen-tablet}) {
    height: 400px;
    background-image: url("/img/bg-map-tablet@1x.png");

    @media (#{$screen-retina}) {
      background-image: url("/img/bg-map-tablet@2x.png");
    }
  }

  @media (#{$screen-desktop}) {
    background-image: url("/img/bg-map-desktop@1x.png");

    @media (#{$screen-retina}) {
      background-image: url("/img/bg-map-desktop@2x.png");
    }
  }
}

.footer__content {
  @media (#{$screen-tablet}) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer__logo {
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__socials {
  width: 100%;

  @media (#{$screen-tablet}) {
    width: 129px;
  }
}

.footer__developed {
  width: 100%;

  @media (#{$screen-tablet}) {
    width: 163px;
  }
}

.footer__link {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 22px 0;
  font-family: $basic-text;
  font-size: 16px;
  color: $special-dark-gray;

  @media (#{$screen-tablet}) {
    width: 163px;
  }

  &:hover .footer__svg,
  &:focus .footer__svg {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__svg {
  display: block;
  width: 27px;
  height: 34px;
  fill: $special-gray-2;
}
