.form {
}

.form__title {
  @include font (36px, 36px);
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  font-weight: normal;
  font-family: $special-text;

  @media (#{$screen-tablet}) {
    @include font (60px, 60px);
    margin-bottom: 54px;
  }

  @media (#{$screen-desktop}) {
    margin-bottom: 56px;
  }
}

.form__text {
  @include font (14px, 18px);
  font-family: $special-text;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (#{$screen-tablet}) {
    @include font (20px, 30px);
    margin-bottom: 66px;
  }
}

.form__fieldset {
  @include fieldset-reset;
  padding: 25px 0;

  &--radio {
    border-top: 1px solid $basic-gray;
    border-bottom: 1px solid $basic-gray;
    padding: 25px 20px;
    margin: 0 -20px;
  }

  &--cat-data {
    padding-top: 0;
  }

  &:last-child {
    padding-top: 9px;
  }
}

.form__area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  width: 100%;
  min-width: 280px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    justify-content: start;
  }
}

.form__input {
  width: 100%;
  min-width: 172px;
  min-height: 45px;
  flex-grow: 1;
  outline: none;

  &--text {
    border: 1px solid $special-gray;
    padding: 13px 15px 14px;

    &:hover,
    &:focus {
      border-color: $basic-gray-2;
    }

    &:active {
      border-color: $special-dark-gray;
    }
  }
}

.form__label {
  @include font (16px, 18px);
  text-transform: uppercase;
  padding-right: 15px;
  font-family: $special-text;
  white-space: nowrap;

  &--radio,
  &--checkbox {
    padding-left: 46px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 0;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
      border: 1px solid $special-gray;
      width: 30px;
      height: 30px;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 3px;
      left: 8px;
      border-radius: 50%;
      background-color: $basic-green;
      width: 13.5px;
      height: 13.5px;
    }
  }

  .form__radio:checked + .form__label--radio::after {
    display: inline-block;
  }

  .form__checkbox {

  }

  &--textarea {
    padding: 0;
  }
}

.form__subtitle {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}

.form__subtitle-text {
  @include font (24px, 26px);
  font-weight: normal;
  font-family: $special-text;
  margin: 0;
  margin-bottom: 34px;
  padding-right: 15px;

}

.form__line {
  display: block;
  flex-basis: 30%;
  height: 2px;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: $basic-green;
  margin-top: 15px;

  &--contacts {
    margin-top: 30px;
  }
}


.form__textarea {
  width: 100%;
  min-width: 280px;
  min-height: 150px;
  resize: none;
  border: 1px solid $special-gray;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 12px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $basic-gray-2;
  }

  &:active {
    border-color: $special-dark-gray;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 21px;
}

.form__footnote {
  @include font (14px, 16px);
  text-align: center;
  font-family: $basic-text;
  display: block;
  width: 100%;
  margin-bottom: 12px;

}
