.form__title {
  @include font (36px, 36px);
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  font-weight: normal;
  font-family: $special-text;

  @media (#{$screen-tablet}) {
    @include font (60px, 60px);
    margin-bottom: 54px;
  }

  @media (#{$screen-desktop}) {
    margin-bottom: 56px;
  }
}

.form__text {
  @include font (14px, 18px);
  font-family: $special-text;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (#{$screen-tablet}) {
    @include font (20px, 30px);
    margin-bottom: 66px;
    width: 323px;
  }
}

.form__group {
  @media (#{$screen-desktop}) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &--additional {
    @media (#{$screen-tablet}) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.form__fieldset {
  @include fieldset-reset;
  padding: 25px 0;

  &--radio {
    border-top: 1px solid $basic-gray;
    border-bottom: 1px solid $basic-gray;
    padding: 25px 20px;
    margin: 0 -20px;

    @media (#{$screen-tablet}) {
      border: 1px solid $special-gray-6;
      width: 100%;
      margin: 0;
    }

    @media (#{$screen-desktop}) {
      flex-basis: 50%;
      padding: 25px 28px;
    }
  }

  &--cat-data {
    padding: 0;
    margin-bottom: 27px;

    @media (#{$screen-tablet}) {
      margin-bottom: 72px;
    }

    @media (#{$screen-desktop}) {
      flex-basis: 50%;
      margin: 0;
      margin-right: 80px;
    }
  }

  &--button {
    padding-top: 9px;

    @media (#{$screen-tablet}) {
      padding-bottom: 51px;
    }

    @media (#{$screen-desktop}) {
      padding-bottom: 61px;
    }
  }
}

.form__area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  width: 100%;
  min-width: 280px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    justify-content: start;

    @media (#{$screen-tablet}) {
      @include font (20px, 30px);
      margin-bottom: 35px;
    }

    @media (#{$screen-desktop}) {
      margin-bottom: 50px;
    }
  }

  &--checkbox {
    @media (#{$screen-tablet}) {
      margin: 0;
      margin-bottom: 32px;
      flex-basis: 50%;

      &:nth-child(3n),
      &:nth-child(4n) {
        margin: 0;
      }
    }

    @media (#{$screen-desktop}) {
      flex-basis: 25%;
      margin: 0;
    }
  }

  &--contacts {
    position: relative;

    @media (#{$screen-desktop}) {
      margin: 0;
      margin-right: 78px;
    }
  }
}

.form__input {
  @include font (16px, 18px);
  font-family: $special-text;
  text-transform: uppercase;
  color: $special-dark-gray;
  width: 100%;
  min-width: 172px;
  min-height: 45px;
  flex-grow: 1;
  outline: none;

  &--text {
    border: 1px solid $special-gray;
    padding: 13px 15px 14px;

    &:hover {
      border-color: $basic-gray-2;
    }

    &:focus {
      border-color: $special-dark-gray;
    }

    &:focus + .form__svg {
      fill: $basic-green;
    }

  }

  @media (#{$screen-tablet}) {
    @include font (20px, 30px);
  }
}

.form__label {
  @include font(16px, 18px);
  text-transform: uppercase;
  padding-right: 15px;
  font-family: $special-text;
  white-space: nowrap;
  z-index: 1;

  &--radio,
  &--checkbox {
    padding-left: 46px;
    position: relative;

    @media (#{$screen-tablet}) {
      padding-left: 68px;
      padding-right: 0;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 0;
      background-size: 26px 26px;
      background-position: center;
      background-repeat: no-repeat;

      @media (#{$screen-tablet}) {
        top: -12px;
        left: 8px;
      }
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
      border: 1px solid $special-gray;
      width: 30px;
      height: 30px;

      @media (#{$screen-tablet}) {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 3px;
      left: 8px;
      border-radius: 50%;
      background-color: $basic-green;
      width: 13.5px;
      height: 13.5px;

      @media (#{$screen-tablet}) {
        width: 18px;
        height: 18px;
        top: -1px;
        left: 19px;
      }
    }
  }

  &--checkbox {
    padding-bottom: 13px;
    padding-left: 60px;

    &::before {
      border: 1px solid $special-gray;
      width: 30px;
      height: 30px;

      @media (#{$screen-tablet}) {
        width: 40px;
        height: 40px;
        left: 0;
      }
    }
  }

  &--textarea {
    width: 100%;
    padding: 0;
  }
}

.form__svg {
  display: block;

  &--mail {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 16px;
    left: 246px;

    @media (#{$screen-tablet}) {
    width: 18px;
    height: 13px;
    top: 23px;
    left: 670px;
    }

    @media (#{$screen-desktop}) {
      top: 23px;
      left: 493px;
    }
  }

  &--phone {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 246px;

    @media (#{$screen-tablet}) {
      top: 19px;
      left: 670px;
    }

    @media (#{$screen-desktop}) {
      top: 20px;
      left: 494px;
    }
  }
}

.form__radio:checked + .form__label--radio::after {
  display: inline-block;
}

.form__checkbox:checked + .form__label--checkbox::before {
  background-image: url("/img/icon-tick.svg");
}

.form__radio:hover + .form__label--radio::before,
.form__radio:focus + .form__label--radio::before,
.form__checkbox:hover + .form__label--checkbox::before,
.form__checkbox:focus + .form__label--checkbox::before {
  border-color: $special-gray-7;
}

.form__radio:active + .form__label--radio,
.form__checkbox:active + .form__label--checkbox {
  opacity: 0.3;
}

.form__subtitle {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  margin-bottom: 34px;

  @media (#{$screen-tablet}) {
    margin-bottom: 76px;

    &--additional {
      margin-bottom: 57px;
    }
  }
}

.form__subtitle-text {
  @include font (24px, 26px);
  font-weight: normal;
  font-family: $special-text;
  margin: 0;
  padding-right: 15px;
}

.form__textarea {
  width: 100%;
  min-width: 280px;
  min-height: 150px;
  resize: none;
  border: 1px solid $special-gray;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 12px;
  outline: none;

  &:hover {
    border-color: $basic-gray-2;
  }

  &:focus {
    border-color: $special-dark-gray;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (#{$screen-tablet}) {
    flex-basis: 50%;
    max-width: 282px;
  }

  @media (#{$screen-desktop}) {
    max-width: 568px;
  }
}

.form__footnote {
  @include font (14px, 16px);
  text-align: center;
  font-family: $basic-text;
  display: block;
  width: 100%;
  margin-bottom: 12px;

  @media (#{$screen-tablet}) {
    flex-basis: 50%;
    text-align: start;
  }
}
