.gift {
  width: 100%;
  min-height: 289px;
  padding-top: 39px;
  padding-bottom: 35px;
  color: $basic-white;

  @media (#{$screen-tablet}) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @media (#{$screen-tablet}) {
    width: 245px;
  }
}

.gift__item {
  padding-top: 58px;
  padding-bottom: 43px;
  position: relative;
  width: 100%;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  @media (#{$screen-tablet}) {
    background-image: url("/img/gift-photo-tablet@1x.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}

.gift__picture {
  margin: 0 auto;
  margin-bottom: 48px;
  width: 57px;
  height: 61px;

  @media (#{$screen-tablet}) {
    margin-top: 64px;
    margin-bottom: 74px;
    margin-left: 89px;
  }
  }

.gift__svg {
  fill: $basic-white;

  @media (#{$screen-tablet}) {
    width: 58px;
    height: 63px;
  }
}

.gift__text-wrapper {
  display: block;
  @media (#{$screen-tablet}) {
    width: 161px;
    margin-right: 124px;
  }
}

.gift__text {
  width: 161px;
  margin: 0 auto;
  font-family: $basic-text;
  @include font (16px, 20px);
  text-align: center;

  @media (#{$screen-tablet}) {
    text-align: start;
  }
}
