.header {
  font-family: $special-text;

  @media (#{$screen-tablet}) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 12px;
  padding-bottom: 17px;
  margin: 0 -20px;

  @media (#{$screen-tablet}) {
    margin: 0;
    padding: 0;
    width: 190px;
    height: auto;
  }

  @media (#{$screen-desktop}) {
    margin: 0;
    padding: 0;
    width: 202px;
    height: auto;
  }
}

.header__logo {
  width: 190px;
  @media (#{$screen-tablet}) {
    flex-basis: 100%;
  }
}

.header__button {
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("/img/icon-close.svg");
  border: none;
  position: relative;

  @media (#{$screen-tablet}) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
  }
}
