.header {
  background-color: $basic-white;
  font-family: $special-text;

  @media (#{$screen-tablet}) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 20px;
  margin-top: 12px;
  margin-bottom: 17px;

  @media (#{$screen-tablet}) {
    width: 174px;
    height: auto;
    margin: 0 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media (#{$screen-desktop}) {
    width: 202px;
    height: auto;
    margin: 0 110px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.header__logo {
  width: 190px;
  @media (#{$screen-tablet}) {
    flex-basis: 100%;
  }
}

.header__button {
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("/img/icon-close.svg");
  border: none;
  position: relative;

  @media (#{$screen-tablet}) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
  }
}
