.logo__link {
  display: block;
  text-align: center;

  @media (#{$screen-tablet}) {
    padding-top: 15px;
    margin-right: 152px;
  }

  @media (#{$screen-desktop}) {
    margin-right: 408px;
  }

  &--footer {
    width: 128px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 32px;

    @media (#{$screen-tablet}) {
      padding: 19px 0;
      margin: 0 auto 0 0;
    }
  }

  &--footer-catalog {
    padding-top: 40px;

    @media (#{$screen-tablet}) {
      padding-top: 9px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
