@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text-reset {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
}

@mixin fieldset-reset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
