.nav {
  font-family: $special-text;
  font-size: 20px;
  line-height: 20px;
  margin: 0 -20px;

  @media (#{$screen-tablet}) {
    margin: 0;
    margin-left: auto;
  }

  @media (#{$screen-desktop}) {
    margin: 0;
    width: 476px;
  }
}

.nav__list {
  @include list-reset;

  @media (#{$screen-tablet}) {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.nav__item {
  text-align: center;
  border-top: 1px solid $basic-gray;

  &:last-child {
    border-bottom: 1px solid $basic-gray;

    @media (#{$screen-tablet}) {
      margin-right: 0;
    }
  }

  @media (#{$screen-tablet}) {
    border: none;
    margin-right: 33px;

    &:last-child {
      border: none;
    }
  }
}

.nav__link {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: $special-black;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 23px;

  @media (#{$screen-tablet}) {
    @include font (18px, 24px);
    padding: 0;
    font-weight: normal;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  @media (#{$screen-desktop}) {
    @include font (20px, 24px);
  }

  &--active {
    @media (#{$screen-tablet}) {
      border-bottom: 2px solid $basic-green;
    }
  }

  &--index {
    padding-top: 21px;

    @media (#{$screen-desktop}) {
      color: $basic-white;
    }
  }

  &--index-active {
    @media (#{$screen-desktop}) {
      border-bottom: 2px solid $basic-white;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
