.programs {
  padding-bottom: 27px;

  @media (#{$screen-tablet}) {
    padding-bottom: 0;
    margin-bottom: 45px;
  }

  @media (#{$screen-desktop}) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -177px;
    margin-bottom: 70px;
  }
}

.programs__item {
  width: 100%;
  background-color: $basic-gray;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 4px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (#{$screen-tablet}) {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 57px;
    margin-bottom: 30px;
  }

  @media (#{$screen-desktop}) {
    width: 570px;
    margin: 0 auto 0 0;
    padding: 77px 51px 59px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.programs__title {
  @include font (24px, 37px);
  margin: 0;
  font-weight: normal;
  display: block;
  position: relative;
  font-family: $special-text;
  text-transform: uppercase;
  padding-left: 71px;
  padding-top: 30px;
  margin-bottom: 29px;

  @media (#{$screen-tablet}) {
    @include font (36px, 36px);
    padding: 0;
    margin-bottom: 24px;
    width: 206px;
  }

  @media (#{$screen-desktop}) {
    padding-left: 163px;
    width: auto;
    margin-bottom: 73px;
  }

  &::before {
    content: "";
    background-color: $basic-green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 2px;
    width: 50px;
    height: 50px;

    @media (#{$screen-tablet}) {
      width: 200px;
      height: 200px;
      top: 15px;
      left: 393px;
    }

    @media (#{$screen-desktop}) {
      width: 100px;
      height: 100px;
      top: -30px;
      left: 0;
    }
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
  }

  &--slim {
    &::after {
      background-image: url("/img/icon-cat-slim.svg");
      top: 21px;
      left: 9px;
      width: 36px;
      height: 50px;

      @media (#{$screen-tablet}) {
        width: 140px;
        height: 192px;
        top: 4px;
        left: 423px;
      }

      @media (#{$screen-desktop}) {
        width: 70px;
        height: 97px;
        top: -36px;
        left: 16px;
      }
    }
  }

  &--pro {
    &::after {
      background-image: url("/img/icon-cat-pro.svg");
      top: 24px;
      left: -7px;
      width: 67px;
      height: 50px;

      @media (#{$screen-tablet}) {
        width: 268px;
        height: 112px;
        top: 58px;
        left: 359px;
      }

      @media (#{$screen-desktop}) {
        width: 134px;
        height: 56px;
        top: -10px;
        left: -18px;
      }
    }
  }
}

.programs__text {
  @include font (14px, 18px);
  margin: 0;
  font-weight: normal;
  padding-bottom: 23px;
  border-bottom: 1px solid $special-gray-4;
  text-align: start;

  &--slim {
    @media (#{$screen-tablet}) {
      width: 377px;
    }
  }

  &--pro {
    @media (#{$screen-tablet}) {
      width: 344px;
    }
  }

  @media (#{$screen-tablet}) {
    @include font (16px, 24px);
    border: none;
    padding: 0;
    margin-bottom: 52px;
  }

  @media (#{$screen-desktop}) {
    width: 462px;
    margin-bottom: 27px;
  }
}

.programs__link {
  @include font (16px,16px);
  display: block;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: start;
  font-family: $special-text;
  font-weight: normal;
  text-transform: uppercase;
  color: $basic-black;

  @media (#{$screen-tablet}) {
    @include font (20px, 30px);
    padding: 0;
  }

  &::after {
    content: "";
    background-image: url("/img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 21px;
    left: 102px;
    min-width: 32px;
    min-height: 10px;

    @media (#{$screen-tablet}) {
      top: 10px;
      left: 135px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background-image: url("/img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
