.promo {
  color: $basic-white;
  padding-bottom: 22px;

  @media (#{$screen-tablet}) {
    color: $basic-black;
    padding-bottom: 19px;
  }

  @media (#{$screen-desktop}) {
    padding-top: 64px;
  }
}

.promo__desc {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 305px;
  margin: 0 -20px;
  padding-top: 27px;

  @media (#{$screen-retina}) {
    background-image: url("/img/index-background-mobile@2x.jpg");
  }

  @media (#{$screen-tablet}) {
    background-image: none;
    margin: 0;
    padding: 0;
  }
}

.promo__item {
  text-align: center;
  margin-top: -140px;

  @media (#{$screen-tablet}) {
    margin-top: -105px;
  }

  @media (#{$screen-desktop}) {
    margin-top: -387px;
    margin-bottom: -82px;
  }
}

.promo__title {
  @include font (36px, 36px);
  width: 249px;
  font-weight: normal;
  font-family: $special-text;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto 25px;

  @media (#{$screen-tablet}) {
    @include font (60px, 60px);
    width: 414px;
    margin-left: 87px;
    margin-bottom: 42px;
    padding: 0;
    text-align: start;
  }

  @media (#{$screen-desktop}) {
    margin-left: 80px;
  }
}

.promo__slogan {
  @include font (14px, 14px);
  width: 249px;
  margin: 0 auto;
  font-family: $special-text;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  @media (#{$screen-tablet}) {
    @include font (20px);
    width: 283px;
    margin-left: 88px;
    text-align: start;
  }

  @media (#{$screen-desktop}) {
    margin-left: 80px;
  }
}

.promo__image {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;

  @media (#{$screen-tablet}) {
    margin-bottom: 0;
  }

  @media (#{$screen-desktop}) {
    padding-left: 230px;
  }
}

.promo__button {
  @include font (14px, 18px);

  @media (#{$screen-tablet}) {
    @include font (20px, 20px);
    margin-top: -578px;
    margin-bottom: 507px;
    margin-left: 82px;
    position: relative;
    padding: 17px 26px;
    max-height: none;
    width: 244px;
  }

  @media (#{$screen-desktop}) {
    margin-top: -185px;
    margin-left: 80px;
  }
}
