.slider {
  width: 100%;
  height: 295px;

  @media (#{$screen-tablet}) {
    height: 620px;
    margin: 0 auto;
  }

  @media (#{$screen-desktop}) {
    margin-top: -180px;
  }
}

.slider__image {
  display: block;
  position: relative;
  width: 311px;
  height: 232px;
  margin-left: -19px;
  margin-top: -3px;
  margin-bottom: 34px;

  @media (#{$screen-tablet}) {
    width: 100%;
    height: 545px;
    margin-left: 7px;
    margin-bottom: -5px;
  }

  @media (#{$screen-desktop}) {
    width: 120%;
    height: 563px;
    margin-top: -77px;
    margin-left: -38px;
    margin-bottom: -14px;
  }
}

.slider__before,
.slider__after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  @media (#{$screen-tablet}) {
    display: block;
    width: 100%;
    margin-bottom: 31px;
  }
}

.slider__active {
  display: block;
}

.slider__before {
  @media (#{$screen-tablet}) {
    clip: rect(auto 346px auto auto);
  }

  @media (#{$screen-desktop}) {
    clip: rect(auto 363px auto auto);
  }
}

.slider__after {
  @media (#{$screen-tablet}) {
    clip: rect(auto auto auto 346px);
  }

  @media (#{$screen-desktop}) {
    clip: rect(auto auto auto 363px);
  }
}

.slider__controls {
  @include font (16px, 20px);
  font-family: $special-text;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  @media (#{$screen-tablet}) {
    @include font (20px, 30px);
    margin: 0 30px;
  }

  @media (#{$screen-desktop}) {
    margin: 0;
    margin-right: -75px;
  }
}

.slider__bar {
  display: block;
  position: relative;
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid $basic-gray-2;
  border-radius: 6px;
  margin: 0 17px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 6px;
    top: 3px;
    left: 4px;
  }

  @media (#{$screen-tablet}) {
    width: 428px;
    height: 6px;
    background-color: $basic-gray-2;
    border-radius: 6px;
    margin: 0 17px;

    &::before {
      display: none;
    }
  }
}

.slider__toggle {
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  @media (#{$screen-tablet}) {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border: 1px solid $basic-gray-2;
    border-radius: 50%;
    background-color: $basic-white;
    top: -15px;
    left: 198px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }
  }

  @media (#{$screen-desktop}) {
    left: 200px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  &:active {
    border: 1px solid $basic-green;
  }
}

.slider__button {
  border: none;
  background: none;
  color: $basic-black;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: 0;

  @media (#{$screen-tablet}) {
    border-bottom: 1px dotted rgba(136, 136, 136, 0.4);
    padding: 0 5px 0;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(145, 145, 145, 0.4);
  }

  &:active {
    border: none;
  }

  @media (#{$screen-desktop}) {
    padding: 0 4px 0 7px;
  }
}
