.socials {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 84px 21px 73px;
  border-top: 1px solid $special-gray-4;
  border-bottom: 1px solid $special-gray-4;

  @media (#{$screen-tablet}) {
    border: none;
    width: 129px;
    padding: 0;
  }
}

.socials__svg {
  display: block;
  fill: $special-gray-2;

  &--vk {
    width: 23px;
    height: 16px;

    @media (#{$screen-tablet}) {
      width: 29px;
      height: 17px;
    }
  }

  &--insta {
    width: 16px;
    height: 16px;

    @media (#{$screen-tablet}) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 18px;

    @media (#{$screen-tablet}) {
      width: 13px;
      height: 27px;
    }
  }
}

.socials__link {

  &:focus .socials__svg,
  &:hover .socials__svg {
    fill: $basic-green;
  }

  &:active .socials__svg {
    opacity: 0.3;
  }

}
