.stats {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  @media (#{$screen-tablet}) {
    justify-content: start;
    align-items: center;
    padding-bottom: 191px;
  }

  @media (#{$screen-tablet}) {
    padding: 0;
  }
}

.stats__item {
  @include font (24px, 24px);
  width: 124px;
  height: min-content;
  font-family: $special-text;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $basic-gray-2;
  border-radius: 3px;

  @media (#{$screen-tablet}) {
    @include font (30px, 37px);
    width: 162px;
  }

  & .stats__desc {
    @include font (12px, 12px);
    width: 77px;
    margin: 0 auto;
    margin-bottom: -16px;
    font-family: $basic-text;
    text-transform: none;
    background-color: $special-gray-3;

    @media (#{$screen-tablet}) {
      @include font (14px, 14px);
      background-color: $basic-white;
      width: min-content;
      white-space: nowrap;
      margin-bottom: -5px;
      padding: 0 5px;
    }

    @media (#{$screen-desktop}) {
      background-color: $basic-gray;
    }
  }

  & .stats__term {
    padding: 14px 20px 9px;
  }


  &:nth-child(2n+2) {
    margin-left: 31px;

    @media (#{$screen-tablet}) {
      margin-left: 42px;
    }
  }

  &:nth-child(2n+3) .stats__term,
  &:nth-child(2n+3) .stats__desc {
    @include font (14px, 20px);
    margin: 0;
    padding: 0;
    font-family: $special-text;
    text-transform: uppercase;

    @media (#{$screen-tablet}) {
      @include font (20px, 30px);
    }

    @media (#{$screen-desktop}) {
      text-align: start;
    }
  }

  &:nth-child(2n+3) .stats__desc {
    width: 125px;

    @media (#{$screen-tablet}) {
      width: 100%;
    }

    @media (#{$screen-desktop}) {
      width: 175px;
      margin-right: 63px;
    }
  }

  &:nth-child(2n+3) .stats__term {
    width: 63px;

    @media (#{$screen-tablet}) {
      width: 100%;
    }

    @media (#{$screen-desktop}) {
      width: 90px;
    }
  }

  &:nth-child(2n+3) {
    margin: 0 auto;
    margin-top: 34px;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    height: min-content;
    width: 190px;

    @media (#{$screen-tablet}) {
      margin: 0;
      margin-left: auto;
      display: block;
      text-align: end;
    }

    @media (#{$screen-desktop}) {
      display: flex;
      width: 100%;
      margin-top: 57px;
      justify-content: start;
    }
  }
}
