.button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: $special-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.button--green-primary {
  background-color: $basic-green;
  padding: 7px 44px;
}

.button--green-secondary {
  background-color: $basic-green;
  padding: 20px 109px;
}
